<html>

<head>
  <title>RPG System</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div style="margin-left:100px;margin-right:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Página Inicial</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/mapa">Mapa</a>
          </li>
          <li>
            <a href="#">Fichas</a>
          </li>
          <li>
            <a href="/livro">Livro</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" style="padding:40px;">
      <h1>Olá, meu povo!</h1>
      <p>Esse é um site maroto pra rodar um sistema de auxilio ao mestre do rpg Vampiro - a Máscara. O mestre no caso
        sou eu mesmo, então tudo é feito sob medida, srry :c</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/paulo-matos/rpg" target="_blank"
          role="button">Github</a></p>
    </div>
</body>

</html>