<html>

<head>
  <title>RPG System</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//static.fliphtml5.com/web/js/plugin/LightBox/js/fliphtml5-light-box-api-min.js"></script>
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Página Inicial</a>
        <ul class="nav navbar-nav">
          <li>
            <a href="/mapa">Mapa</a>
          </li>
          <li>
            <a href="#">Fichas</a>
          </li>
          <li class="active">
            <a href="/livro">Livro</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="jumbotron" style="padding:40px;margin-left:100px;margin-right:100px;">
      <center>
        <img src="https://online.fliphtml5.com/fxkfd/yrqw/files/shot.jpg" data-rel="fh5-light-box-demo"
          data-href="https://online.fliphtml5.com/fxkfd/yrqw/" data-width="900" data-height="500"
          data-title="Cronicas Do Despertar">
      </center>
    </div>

</body>

</html>